---
import About from "@components/About.astro";
import Hero from "@components/Hero.astro";
import RepoCard from "@components/RepoCard.astro";
import { languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

type Language = keyof typeof languages;

type Params = {
  params: { locale: Language };
}[];

export function getStaticPaths(): Params {
  return (Object.keys(languages) as Language[]).map((lang) => ({
    params: { locale: lang },
  }));
}

const { locale } = Astro.params;
const t = useTranslations(locale);
const repos = await getCollection("repos", ({ id }) => id.startsWith(locale));
repos.sort((a, b) => a.data.order - b.data.order);
---

<MainLayout title={t("base.title")} lang={locale} t={t}>
  <Hero t={t} />
  <About t={t} />

  <section id="projects" class="pb-8 pt-24">
    <div class="container mx-auto">
      <h2 class="text-4xl font-bold mb-12 text-center">
        {t("projects.title")}
      </h2>

      <div class="space-y-4">
        {
          repos.map((repo, index) => (
            <RepoCard
              repo={repo.data}
              slug={repo.id}
              isEven={index % 2 === 0}
              t={t}
            />
          ))
        }
      </div>
    </div>
  </section>
</MainLayout>
