---
import Header from "@components/Header.astro";
import "@styles/globals.css";

interface Props {
  title: string;
  lang: string;
  t: Function;
}

const { title, lang, t } = Astro.props;
---

<!doctype html>
<html lang={lang} data-theme="dark" class="scroll-smooth mocha">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen bg-base-100 text-base-content">
    <Header lang={lang} t={t} />

    <main class="container mx-auto px-4 py-8">
      <slot />
    </main>
  </body>
</html>
